In [1]:
import numpy as np
import pandas as pd

In [2]:
pail='data/서울시 자치구 년도별 CCTV 설치 현황_221231기준 copy.csv'
cctv=pd.read_csv(pail,encoding='euc-kr')
cctv.head()

,구분,총계,2013년 이전\r\n설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,"91,341","2,804","3,097","3,981","6,576","8,850","11,566","11,024","13,151","11,912","9,144","9,236"
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",58,99,110,366,279,945,459,647,485,367,232

In [3]:
#인덱스 계 삭제함
cctv.drop(index=0,inplace=True)
cctv

,구분,총계,2013년 이전\r\n설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",58,99,110,366,279,945,459,647,485,367,232
5,광진구,"3,480",507,82,84,64,21,465,443,709,172,662,271
6,동대문구,"2,759",1,4,12,107,802,711,201,218,223,221,259
7,중랑구,"4,193",224,331,104,145,153,170,215,"1,074",976,507,294
8,성북구,"4,842",137,170,229,322,594,811,867,714,253,407,338
9,강북구,"3,321",0,21,16,68,210,4,375,963,569,298,797
10,도봉구,"2,247",103,2,79,72,103,117,200,202,183,600,586
11,노원구,"2,617",77,153,75,510,329,172,216,326,387,220,152
12,은평구,"4,653",17,44,332,329,555,403,635,"1,057",288,471,522
13,서대문구,"3,445",312,144,127,77,254,524,389,344,587,207,480
14,마포구,"2,628",21,40,109,170,458,376,368,494,298,177,117
15,양천구,"3,851",197,139,128,239,422,563,830,311,337,338,347
16,강서구,"3,265",67,59,202,193,168,506,259,458,359,439,555
17,구로구,"4,693",37,361,193,269,353,563,545,794,651,684,243
18,금천구,"2,636",0,0,43,361,133,196,539,367,513,207,277
19,영등포구,"4,553",109,81,295,360,285,422,803,153,"1,357",329,359
20,동작구,"2,671",66,25,502,127,256,271,300,307,432,30,355
21,관악구,"5,398",362,244,302,537,607,676,662,890,404,550,164
22,서초구,"4,995",74,86,70,559,518,"1,054",426,344,422,566,876
23,강남구,"7,243",59,62,573,826,"1,295",989,744,790,923,514,468
24,송파구,"3,203",84,78,88,221,163,256,516,"1,081",224,139,353
25,강동구,"3,190",82,195,56,174,226,351,379,362,635,301,429

In [4]:
cctv.index,cctv.columns,cctv.values

(RangeIndex(start=1, stop=26, step=1),
 Index(['구분', '총계', '2013년 이전\r\n설치된 CCTV', '2013년', '2014년', '2015년', '2016년',
        '2017년', '2018년', '2019년', '2020년', '2021년', '2022년'],
       dtype='object'),
 array([['종로구', '1,980', '36', '540', '107', '161', '131', '158', '152',
         '69', '250', '85', '291'],
        ['중 구', '2,584', '130', '87', '77', '236', '240', '372', '386',
         '155', '361', '403', '137'],
        ['용산구', '2,847', '44', '50', '68', '83', '295', '491', '115',
         '322', '623', '422', '334'],
        ['성동구', '4,047', '58', '99', '110', '366', '279', '945', '459',
         '647', '485', '367', '232'],
        ['광진구', '3,480', '507', '82', '84', '64', '21', '465', '443',
         '709', '172', '662', '271'],
        ['동대문구', '2,759', '1', '4', '12', '107', '802', '711', '201',
         '218', '223', '221', '259'],
        ['중랑구', '4,193', '224', '331', '104', '145', '153', '170', '215',
         '1,074', '976', '507', '294'],
        ['성북구', '4,842', '137', '170', '229', '322', '594', '811', '867',
         '714', '253', '407', '338'],
        ['강북구', '3,321', '0', '21', '16', '68', '210', '4', '375', '963',
         '569', '298', '797'],
        ['도봉구', '2,247', '103', '2', '79', '72', '103', '117', '200',
         '202', '183', '600', '586'],
        ['노원구', '2,617', '77', '153', '75', '510', '329', '172', '216',
         '326', '387', '220', '152'],
        ['은평구', '4,653', '17', '44', '332', '329', '555', '403', '635',
         '1,057', '288', '471', '522'],
        ['서대문구', '3,445', '312', '144', '127', '77', '254', '524', '389',
         '344', '587', '207', '480'],
        ['마포구', '2,628', '21', '40', '109', '170', '458', '376', '368',
         '494', '298', '177', '117'],
        ['양천구', '3,851', '197', '139', '128', '239', '422', '563', '830',
         '311', '337', '338', '347'],
        ['강서구', '3,265', '67', '59', '202', '193', '168', '506', '259',
         '458', '359', '439', '555'],
        ['구로구', '4,693', '37', '361', '193', '269', '353', '563', '545',
         '794', '651', '684', '243'],
        ['금천구', '2,636', '0', '0', '43', '361', '133', '196', '539',
         '367', '513', '207', '277'],
        ['영등포구', '4,553', '109', '81', '295', '360', '285', '422', '803',
         '153', '1,357', '329', '359'],
        ['동작구', '2,671', '66', '25', '502', '127', '256', '271', '300',
         '307', '432', '30', '355'],
        ['관악구', '5,398', '362', '244', '302', '537', '607', '676', '662',
         '890', '404', '550', '164'],
        ['서초구', '4,995', '74', '86', '70', '559', '518', '1,054', '426',
         '344', '422', '566', '876'],
        ['강남구', '7,243', '59', '62', '573', '826', '1,295', '989', '744',
         '790', '923', '514', '468'],
        ['송파구', '3,203', '84', '78', '88', '221', '163', '256', '516',
         '1,081', '224', '139', '353'],
        ['강동구', '3,190', '82', '195', '56', '174', '226', '351', '379',
         '362', '635', '301', '429']], dtype=object))

In [5]:
columns = '구분,2013년 이전\r\n설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년'.split(',')
for col in columns[1:]:
    cctv[col] = cctv[col].str.replace(',','').astype(int)
cctv.head()

,구분,총계,2013년 이전\r\n설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",58,99,110,366,279,945,459,647,485,367,232
5,광진구,"3,480",507,82,84,64,21,465,443,709,172,662,271

In [6]:
df1 = cctv.loc[:, ['2022년', '2021년', '2020년']].sum(axis=1)
df1

1      626
2      901
3     1379
4     1084
5     1105
6      703
7     1777
8      998
9     1664
10    1369
11     759
12    1281
13    1274
14     592
15    1022
16    1353
17    1578
18     997
19    2045
20     817
21    1118
22    1864
23    1905
24     716
25    1365
dtype: int64

In [7]:
df2=cctv[['2013년 이전\r\n설치된 CCTV', '2013년', '2014년', '2015년', '2016년',
        '2017년', '2018년', '2019년']].sum(axis=1)
df2

1     1354
2     1683
3     1468
4     2963
5     2375
6     2056
7     2416
8     3844
9     1657
10     878
11    1858
12    3372
13    2171
14    2036
15    2829
16    1912
17    3115
18    1639
19    2508
20    1854
21    4280
22    3131
23    5338
24    2487
25    1825
dtype: int64

In [8]:
cctv['최근 증가율'] = round((df1 / df2)*100,2)
cctv.head(2)

,구분,총계,2013년 이전\r\n설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,최근 증가율
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291,46.23
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137,53.54

In [9]:
cctv.drop(columns=['2013년 이전\r\n설치된 CCTV', '2013년', '2014년', '2015년', '2016년',
        '2017년', '2018년', '2019년', '2020년', '2021년', '2022년'],inplace=True)
cctv.head(2)

    구분     총계  최근 증가율
1  종로구  1,980   46.23
2  중 구  2,584   53.54

In [16]:
cctv.columns=['구별','CCTV댓수','최근증가율']
cctv.head(5)

    구별 CCTV댓수  최근증가율
1  종로구  1,980  46.23
2  중 구  2,584  53.54
3  용산구  2,847  93.94
4  성동구  4,047  36.58
5  광진구  3,480  46.53

In [17]:
cctv.to_csv('cctv.csv')