In [7]:
import numpy as np
import pandas as pd

In [8]:
pail='data/서울시인구.txt'
person=pd.read_csv(pail, sep='\t', thousands=',')
person.head(5)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021,합계,"4,426,007","9,736,027","4,721,977","5,014,050","9,509,458","4,618,040","4,891,418","226,569","103,937","122,632",2.15,"1,605,416"
3,2021,종로구,"73,494","153,789","74,186","79,603","144,683","70,183","74,500","9,106","4,003","5,103",1.97,"27,818"
4,2021,중구,"63,519","131,787","64,083","67,704","122,499","59,630","62,869","9,288","4,453","4,835",1.93,"24,392"

In [9]:
person.drop(index=[0,1,2],inplace=True)
person

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
3,2021,종로구,"73,494","153,789","74,186","79,603","144,683","70,183","74,500","9,106","4,003","5,103",1.97,"27,818"
4,2021,중구,"63,519","131,787","64,083","67,704","122,499","59,630","62,869","9,288","4,453","4,835",1.93,"24,392"
5,2021,용산구,"111,036","237,285","115,085","122,200","222,953","107,210","115,743","14,332","7,875","6,457",2.01,"39,070"
6,2021,성동구,"134,233","292,672","142,259","150,413","285,990","139,380","146,610","6,682","2,879","3,803",2.13,"46,380"
7,2021,광진구,"167,949","352,627","169,317","183,310","339,996","164,058","175,938","12,631","5,259","7,372",2.02,"51,723"
8,2021,동대문구,"168,219","352,006","172,162","179,844","337,400","166,646","170,754","14,606","5,516","9,090",2.01,"62,211"
9,2021,중랑구,"185,712","391,885","192,903","198,982","387,350","191,112","196,238","4,535","1,791","2,744",2.09,"71,682"
10,2021,성북구,"195,017","440,142","211,150","228,992","430,528","207,578","222,950","9,614","3,572","6,042",2.21,"74,709"
11,2021,강북구,"144,536","302,563","146,984","155,579","299,182","145,705","153,477","3,381","1,279","2,102",2.07,"64,333"
12,2021,도봉구,"138,656","319,373","155,221","164,152","317,366","154,487","162,879","2,007",734,"1,273",2.29,"64,160"
13,2021,노원구,"217,378","514,946","247,813","267,133","510,956","246,053","264,903","3,990","1,760","2,230",2.35,"88,345"
14,2021,은평구,"214,711","477,173","228,024","249,149","473,307","226,458","246,849","3,866","1,566","2,300",2.2,"87,241"
15,2021,서대문구,"143,647","315,659","149,507","166,152","304,819","145,694","159,125","10,840","3,813","7,027",2.12,"54,268"
16,2021,마포구,"179,861","378,686","177,233","201,453","368,905","173,504","195,401","9,781","3,729","6,052",2.05,"54,582"
17,2021,양천구,"181,404","450,487","220,537","229,950","447,302","219,214","228,088","3,185","1,323","1,862",2.47,"68,627"
18,2021,강서구,"271,175","579,768","278,720","301,048","574,315","276,292","298,023","5,453","2,428","3,025",2.12,"92,558"
19,2021,구로구,"180,929","421,163","208,873","212,290","396,754","195,537","201,217","24,409","13,336","11,073",2.19,"72,611"
20,2021,금천구,"117,595","244,891","124,110","120,781","230,811","116,527","114,284","14,080","7,583","6,497",1.96,"41,041"
21,2021,영등포구,"187,020","400,908","198,740","202,168","376,837","185,926","190,911","24,071","12,814","11,257",2.01,"62,516"
22,2021,동작구,"184,812","394,364","190,241","204,123","385,483","186,426","199,057","8,881","3,815","5,066",2.09,"66,613"
23,2021,관악구,"276,597","499,449","250,058","249,391","485,699","243,991","241,708","13,750","6,067","7,683",1.76,"79,871"
24,2021,서초구,"170,244","416,167","198,914","217,253","412,279","197,034","215,245","3,888","1,880","2,008",2.42,"60,678"
25,2021,강남구,"234,233","537,800","257,280","280,520","533,042","255,047","277,995","4,758","2,233","2,525",2.28,"78,226"
26,2021,송파구,"282,417","663,965","319,895","344,070","658,338","317,346","340,992","5,627","2,549","3,078",2.33,"97,691"
27,2021,강동구,"201,613","466,472","228,682","237,790","462,664","227,002","235,662","3,808","1,680","2,128",2.29,"74,070"

In [10]:
person.drop(columns=['기간','세대', '인구.1', '인구.2', '인구.4', '인구.5',
        '인구.7', '인구.8', '세대당인구'],inplace=True)
person.head(5)

   자치구       인구     인구.3    인구.6 65세이상고령자
3  종로구  153,789  144,683   9,106   27,818
4   중구  131,787  122,499   9,288   24,392
5  용산구  237,285  222,953  14,332   39,070
6  성동구  292,672  285,990   6,682   46,380
7  광진구  352,627  339,996  12,631   51,723

In [11]:
person.columns=['구별','인구수','내국인','외국인','고령자']
person.head(5)

    구별      인구수      내국인     외국인     고령자
3  종로구  153,789  144,683   9,106  27,818
4   중구  131,787  122,499   9,288  24,392
5  용산구  237,285  222,953  14,332  39,070
6  성동구  292,672  285,990   6,682  46,380
7  광진구  352,627  339,996  12,631  51,723

In [12]:
person.index,person.columns,person.dtypes

(RangeIndex(start=3, stop=28, step=1),
 Index(['구별', '인구수', '내국인', '외국인', '고령자'], dtype='object'),
 구별     object
 인구수    object
 내국인    object
 외국인    object
 고령자    object
 dtype: object)

In [14]:
columns = '구별,인구수,내국인,외국인,고령자'.split(',')
for col in columns[1:]:
    person[col] = person[col].str.replace(',','').astype(int)
person.head(5)

    구별     인구수     내국인    외국인    고령자
3  종로구  153789  144683   9106  27818
4   중구  131787  122499   9288  24392
5  용산구  237285  222953  14332  39070
6  성동구  292672  285990   6682  46380
7  광진구  352627  339996  12631  51723

In [17]:
person['외국인비율']=round((person['외국인']/person['인구수']) *100,2)
person.head(5)

    구별     인구수     내국인    외국인    고령자  외국인비율
3  종로구  153789  144683   9106  27818   5.92
4   중구  131787  122499   9288  24392   7.05
5  용산구  237285  222953  14332  39070   6.04
6  성동구  292672  285990   6682  46380   2.28
7  광진구  352627  339996  12631  51723   3.58

In [18]:
person['고령자비율'] = round((person['고령자']/person['인구수']) *100,2)
person.head(5)

    구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
3  종로구  153789  144683   9106  27818   5.92  18.09
4   중구  131787  122499   9288  24392   7.05  18.51
5  용산구  237285  222953  14332  39070   6.04  16.47
6  성동구  292672  285990   6682  46380   2.28  15.85
7  광진구  352627  339996  12631  51723   3.58  14.67

In [19]:
person.to_csv('pop.csv')