In [1]:
import sqlite3 as sq

- DB에 접속해서 데이터 읽기

In [2]:
# member table에 있는 데이터 모두 읽기
conn = sq.connect('test.db')
cur =conn.cursor()

sql ='SELECT * FROM member;'
cur.execute(sql)
rows =cur.fetchall()

cur.close()
conn.close()

In [3]:
for row in rows:
    print(row)

(1, '제임스', 1)
(2, '마리아', 2)
(3, '홍길동', 3)

In [4]:
# 남자만 가져오기
conn = sq.connect('test.db')
cur =conn.cursor()

sql ='SELECT * FROM member where gender =1;'
cur.execute(sql)
rows =cur.fetchall()

cur.close()
conn.close()

In [5]:
for row in rows:
    print(row)

(1, '제임스', 1)

In [6]:
def get_members_by_gender(gender):
    conn = sq.connect('test.db')
    cur =conn.cursor()

    sql ='SELECT * FROM member where gender =?;'
    cur.execute(sql,(gender,))   #parameter는 반드시 tuple 형태라야 함
    rows =cur.fetchall()

    cur.close()
    conn.close()
    return rows

In [7]:
results =get_members_by_gender(1)
for row in results:
    print(row)

(1, '제임스', 1)

In [8]:
#mid에 해당하는 데이터 한 건만 가져오기
def get_member_by_mid(mid):
    conn = sq.connect('test.db')
    cur =conn.cursor()

    sql ='SELECT * FROM member where mid =?;'
    cur.execute(sql,(mid,))   #parameter는 반드시 tuple 형태라야 함
    row =cur.fetchone()       # 한건의 데이터만 가져오는 경우에는 fetchone()사용

    cur.close()
    conn.close()
    return row

In [9]:
result =get_member_by_mid(1)
print(result[0],result[1],result[2])

1 제임스 1

- 데이터 추가하기

In [10]:
def inset_member(params):
    conn = sq.connect('test.db')
    cur =conn.cursor()

    sql ='insert into member(mname,gender) values (?,?);'
    cur.execute(sql,params)
    conn.commit()      # 데이터 수정하면 꼭 conn.commit() 하기
    cur.close()
    conn.close()

In [11]:
params = ('차정숙',2)
inset_member(params)

In [12]:
results =get_members_by_gender(2)
for row in results:
    print(row)

(2, '마리아', 2)
(4, '차정숙', 2)

- 데이터 수정

In [13]:
def update_member(params):
    conn = sq.connect('test.db')
    cur =conn.cursor()

    sql ='update member set mname=?,gender=? where mid=?;'
    cur.execute(sql,params)
    conn.commit()      # 데이터 수정하면 꼭 conn.commit() 하기
    cur.close()
    conn.close()

In [14]:
params =('테스트',1)
inset_member(params)

In [15]:
result =get_member_by_mid(5)
result

(5, '테스트', 1)

In [16]:
# 내용수정
params =('테스트2',2,5)
update_member(params)         # 파라메터 순서에 주의할 것

In [17]:
rows = get_members_by_gender(2)
for row in rows:
    print(row)

(2, '마리아', 2)
(4, '차정숙', 2)
(5, '테스트2', 2)

- 데이터 삭제

In [19]:
def delete_member(mid):
    conn = sq.connect('test.db')
    cur =conn.cursor()

    sql ='delete from member where mid=?'
    cur.execute(sql,(mid,))
    conn.commit()      # 데이터 수정하면 꼭 conn.commit() 하기
    cur.close()
    conn.close()

In [20]:
delete_member(5)

In [21]:
rows = get_members_by_gender(2)
for row in rows:
    print(row)

(2, '마리아', 2)
(4, '차정숙', 2)