In [1]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import quote
import pandas as pd
#1. 순위, 제목, 아티스트, 앨범, 이미지

In [2]:
url = "https://www.melon.com/chart/index.htm"
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36'}

result = requests.get(url, headers=header)
print('re_code', result.status_code)
soup = BeautifulSoup(result.text)

re_code 200

In [9]:
#원하는 차트 찾기 tb_list
trs = soup.select('tr.lst50,tr.lst100')
len(trs)

100

In [10]:
tr =trs[0]

In [14]:
# rank
rank=tr.select_one('.rank').get_text()
rank

'1'

In [18]:
title =tr.select_one('span> a').get_text().strip()
title

'I AM'

In [20]:
title =tr.select_one('span> a').get_text().split('\n')[-1].strip()

'I AM'

In [23]:
# artist
arist=tr.select_one('.ellipsis >a').get_text()
arist

'IVE (아이브)'

In [33]:
#album
album =tr.select_one('.ellipsis.rank03').get_text().strip()
album

"I've IVE"

In [15]:
#img
img=tr.select_one('.wrap > img')
img

In [34]:
lin =[]
for tr in trs:
    rank=tr.select_one('.rank').get_text()
    title =tr.select_one('span> a').get_text().split('\n')[-1].strip()
    arist=tr.select_one('.ellipsis >a').get_text()
    album =tr.select_one('.ellipsis.rank03').get_text().strip()
    img=tr.select_one('.wrap > img')
    lin.append({'순위':rank,'제목':title,'아티스트':arist,'앨범':album,'이미지':img})

In [37]:
melon = pd.DataFrame(lin)
melon.tail()

,순위,제목,아티스트,앨범,이미지
95,96,Salty & Sweet,aespa,MY WORLD - The 3rd Mini Album,None
96,97,Cookie,NewJeans,NewJeans 1st EP 'New Jeans',None
97,98,그중에 그대를 만나,김호중,삼남매가 용감하게 OST Part.1,None
98,99,Welcome To MY World (Feat. nævis),aespa,MY WORLD - The 3rd Mini Album,None
99,100,Dreamers [Music from the FIFA World Cup Qatar ...,정국,Dreamers [Music from the FIFA World Cup Qatar ...,None

In [45]:
from datetime import datetime
now =datetime.now()
ymd =f'{now.year-2000:02d}{now.month:02d}{now.day:02d}'       
ymd

'230512'

In [46]:
melon.to_csv(f'data/{ymd}_멜론차트.csv',index=False)

In [3]:
import pandas as pd
df =pd.read_csv('../05.Crawling/data/유튜브 랭킹.csv')
df

       순위       카테고리                채널명      구독자수          조회수   비디오
0       1   음악/댄스/가수          BLACKPINK  87300000  30533500000   507
1       2   음악/댄스/가수          BANGTANTV  74500000  20143000000  2188
2       3   음악/댄스/가수        HYBE LABELS  70300000  27323160000  1158
3       4   음악/댄스/가수             SMTOWN  31600000  26794810000  4110
4       5   음악/댄스/가수  JYP Entertainment  26800000  19275070000  1668
..    ...        ...                ...       ...          ...   ...
995   991     회사/오피셜           LG Uplus    730000   1379980000  2473
996   998  BJ/인물/연예인                 케이    730000    572670000  3304
997  1001        미분류           백크 Baekk    720000    457320000  1106
998   999   음악/댄스/가수              Crush    720000    395460000   131
999   997  BJ/인물/연예인   bobaepapa - 보배아빠    720000    348440000   393

[1000 rows x 6 columns]