### 3.고급 인텍싱

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

#### 3.1 loc 인덱서

-인수가 한개인 경우 : 행 선택

In [6]:
df.loc['y']                # 행을 시리즈로 출력

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [7]:
df.loc['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [8]:
df['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [9]:
df.A > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [10]:
df[df.A>15]            #15보다 큰 데이터만 끌고옴

    A   B   C   D
z  18  19  20  21

- 인수가 두개인 경우

In [14]:
df.loc['y','B']                  # 행 인덱스, 열 인텍스

15

In [15]:
df.loc['y':'z','B':'C']

    B   C
y  15  16
z  19  20

#### 3.2 iloc 인덱서

In [16]:
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [18]:
df.iloc[1]              #'y'행 ,인덱스 값은 1

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [19]:
df.iloc[:2]               # 숫자니까 행 인텍스 값 2는 포함되지 않는다.

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [20]:
df.iloc[1,1]

15

In [36]:
df = pd.DataFrame(np.arange(1, 26).reshape(5, 5),
                  index=["a", "b", "c","d","e"],           #index =list('작성하면됨')
                  columns=["A", "B", "C", "D","Z"])
df

    A   B   C   D   Z
a   1   2   3   4   5
b   6   7   8   9  10
c  11  12  13  14  15
d  16  17  18  19  20
e  21  22  23  24  25

In [41]:
df.loc['c','C'],df['C'].c

(13, 13)

In [43]:
df.iloc[2,2],df.iloc[2].C,df.iloc[2]['C']

(13, 13, 13)