### 문자열 조작

In [1]:
import numpy as np
import pandas as pd

- 데이터 탐색

In [2]:
df=pd.read_csv('data/법정동코드 전체자료.txt',sep='\t',encoding='euc-kr')
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [3]:
df.shape

(46328, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46328 entries, 0 to 46327
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   46328 non-null  int64
 1   법정동명    46328 non-null  object
 2   폐지여부    46328 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [7]:
df.폐지여부.value_counts()

폐지여부
폐지    25777
존재    20551
Name: count, dtype: int64

- Filtering /Selection

In [16]:
# 폐지된 주소는 삭제하도록 필터링
df = df[df.폐지여부 == '존재']
df.shape

(20551, 3)

- 인덱싱

In [17]:
df.법정동명.str[:5].head()
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [19]:
df.법정동명.str.find('서울').head()

0    0
1    0
2    0
3    0
4    0
Name: 법정동명, dtype: int64

In [20]:
df.법정동명.str.find('종로구').head()     # 숫자는 종로구 위치를 표시해줌

0   -1
1    6
2    6
3    6
4    6
Name: 법정동명, dtype: int64

In [24]:
# contains  False,True 으로 출력됨
df.법정동명.str.contains('종로구').head()

0    False
1     True
2     True
3     True
4     True
Name: 법정동명, dtype: bool

In [29]:
# 경기도만 추출
df1=df[df.법정동명.str.contains('경기도')]
print(df1.shape)
df1.head()

(2211, 3)

           법정동코드             법정동명 폐지여부
4470  4100000000              경기도   존재
4819  4111000000          경기도 수원시   존재
4884  4111100000      경기도 수원시 장안구   존재
4913  4111112900  경기도 수원시 장안구 파장동   존재
4914  4111113000  경기도 수원시 장안구 정자동   존재

In [32]:
# 수원시만 추출
df2=df1[df1.법정동명.str.contains('수원시')]
print(df2.shape)
df2.head()

(61, 3)

           법정동코드             법정동명 폐지여부
4819  4111000000          경기도 수원시   존재
4884  4111100000      경기도 수원시 장안구   존재
4913  4111112900  경기도 수원시 장안구 파장동   존재
4914  4111113000  경기도 수원시 장안구 정자동   존재
4915  4111113100  경기도 수원시 장안구 이목동   존재

In [34]:
# 파장동 인덱싱
df2.법정동명[4913],df2.iloc[2,1]

('경기도 수원시 장안구 파장동', '경기도 수원시 장안구 파장동')

- 분할 : spilt

In [35]:
df2.법정동명.str.split().head()

4819              [경기도, 수원시]
4884         [경기도, 수원시, 장안구]
4913    [경기도, 수원시, 장안구, 파장동]
4914    [경기도, 수원시, 장안구, 정자동]
4915    [경기도, 수원시, 장안구, 이목동]
Name: 법정동명, dtype: object