### 10.시계열 자료 다루기

In [1]:
import numpy as np
import pandas as pd

- Datetimeindex

In [10]:
# 기본 데이터(날짜) 설정
date_str=["2023.04.17"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [11]:
# 기본 데이터(날짜) 이외의 포맷을 지정해주어햐 함
idx = pd.to_datetime(['2023-04-17'],format='%Y-%m-%d')
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [13]:
data_str = ['2023-04-17','2023-04-18','2023-04-19','2023-04-20','2023-04-21']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [14]:
df=pd.DataFrame(np.random.randint(60,100,5),
                columns=['score'],index=idx)
df

ValueError: Shape of passed values is (5, 1), indices imply (1, 1)

In [18]:
pd.date_range('2023-04-01','2023-04-30')       # 시작일과 종료일

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [19]:
pd.date_range('2023.04.01','2023.04.30')

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [20]:
# 기본날짜 설정방법   
pd.date_range('4/1/23',periods=30)

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [23]:
# 주말 제외(출력안됨) 평일만 출력됨 
pd.date_range('040123','043023',freq='B')

DatetimeIndex(['2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28'],
              dtype='datetime64[ns]', freq='B')

In [24]:
# 1년중 각 월의 주말이 아닌  시작일
pd.date_range('2023-1-1','2023-12-31',freq='BMS')

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-03-01', '2023-04-03',
               '2023-05-01', '2023-06-01', '2023-07-03', '2023-08-01',
               '2023-09-01', '2023-10-02', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='BMS')

- resample

In [25]:
ts= pd.DataFrame(np.random.randint(100,1000,100),
                 index=pd.date_range('20230101',periods=100))
ts.head()

              0
2023-01-01  549
2023-01-02  250
2023-01-03  835
2023-01-04  658
2023-01-05  144

In [26]:
# 각달의 마지막날 M
ts.resample('M').first()

              0
2023-01-31  549
2023-02-28  685
2023-03-31  402
2023-04-30  178

In [27]:
# 매주 일요일 W
ts.resample('W').first()

              0
2023-01-01  549
2023-01-08  250
2023-01-15  842
2023-01-22  727
2023-01-29  189
2023-02-05  485
2023-02-12  753
2023-02-19  187
2023-02-26  364
2023-03-05  676
2023-03-12  166
2023-03-19  236
2023-03-26  315
2023-04-02  421
2023-04-09  193
2023-04-16  236