### World Dao를 이용한 DB Access|

In [1]:
import world_dao as wd

- R:Retrieve

In [2]:
import pandas as pd
rows =wd.get_citylist_by_country('kor',10)
df = pd.DataFrame(rows,columns=['id','name','country_code','district','population'])
df.set_index('id',inplace=True)
df

           name country_code      district  population
id
2400  Mun-gyong          KOR  Kyongsangbuk       92239
2399    Tonghae          KOR      Kang-won       95472
2398     Namwon          KOR     Chollabuk      103544
2397       Naju          KOR     Chollanam      107831
2396     Uiwang          KOR       Kyonggi      108788
2395     Sachon          KOR  Kyongsangnam      113494
2394   Yongchon          KOR  Kyongsangbuk      113511
2393      Kimje          KOR     Chollabuk      115427
2392      Hanam          KOR       Kyonggi      115812
2391    Miryang          KOR  Kyongsangnam      121501

In [3]:
row = wd.get_city_by_name('수원')
row

(2383, '수원', 'KOR', 'Kyonggi', 1200000)

- C: create

In [4]:
params = ('노드','KOR','kyonggi',6000000)
wd.insert_city(params)

U:update

In [5]:
row =wd.get_city_by_name('노드')
params=[row[1],row[2],row[3],row[4],row[0]]
params[3]=7400000
wd.update_city(params)

-D:delete

In [6]:
id =row[0]                # 5011
wd.delete_city(id)