In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dates =pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.755412  0.536074 -0.736620  1.076621
2013-01-02 -0.472539 -0.092629  0.594584 -0.883553
2013-01-03  0.205475  0.252627  0.442339 -0.080127
2013-01-04 -0.807144 -0.132157 -0.472727  0.536306
2013-01-05 -0.942316 -0.449170  1.917042 -0.497619
2013-01-06  1.347316 -0.731076 -0.944728  0.845235

In [8]:
df.bool

<bound method NDFrame.bool of                    A         B         C         D
2013-01-01 -0.755412  0.536074 -0.736620  1.076621
2013-01-02 -0.472539 -0.092629  0.594584 -0.883553
2013-01-03  0.205475  0.252627  0.442339 -0.080127
2013-01-04 -0.807144 -0.132157 -0.472727  0.536306
2013-01-05 -0.942316 -0.449170  1.917042 -0.497619
2013-01-06  1.347316 -0.731076 -0.944728  0.845235>