### 서울시 공원 시각화

In [2]:
import numpy as np
import pandas as pd
import folium

In [6]:
df = pd.read_csv('data/서울시 주요 공원현황.csv', encoding='euc-kr')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   연번            132 non-null    int64
 1   공원명           132 non-null    object
 2   공원개요          131 non-null    object
 3   면적            129 non-null    object
 4   개원일           122 non-null    object
 5   주요시설          124 non-null    object
 6   주요식물          88 non-null     object
 7   안내도           102 non-null    object
 8   오시는길          115 non-null    object
 9   이용시참고사항       120 non-null    object
 10  이미지           132 non-null    object
 11  지역            131 non-null    object
 12  공원주소          132 non-null    object
 13  관리부서          132 non-null    object
 14  전화번호          132 non-null    object
 15  X좌표(GRS80TM)  122 non-null    float64
 16  Y좌표(GRS80TM)  122 non-null    float64
 17  X좌표(WGS84)    131 non-null    float64
 18  Y좌표(WGS84)    131 non-null    float64
dtypes: float64(4), int64(1), object(14)
memory usage: 19.7+ KB

In [8]:
df = df[['공원명','면적','공원주소','X좌표(GRS80TM)','Y좌표(GRS80TM)']]
df.head(3)

,공원명,면적,공원주소,X좌표(GRS80TM),Y좌표(GRS80TM)
0,남산도시자연공원,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,서울특별시 중구 삼일대로 231(예장동),198364.107,450395.554
1,길동생태공원,80683㎡,서울특별시 강동구 천호대로 1291(길동생태공원),213554.120,448852.675
2,서울대공원,9132690m²,경기도 과천시 대공원광장로 102,200994.267,437163.981

In [9]:
df.dropna(subset=['면적','X좌표(GRS80TM)'],inplace=True)
df.isna().sum().sum()

0

- 면적에 따라 공원크기를 지도에 표시

In [15]:
# 10개씩 보겠다
df.면적.head(60).tail(10)

50                                            총 16500㎥
51                                             585652㎥
52                                           649709.6㎡
53                                               72132㎡
54                                             66027.8㎡
55                                              265582㎡
56                                           2088704.9㎡
57                                              112070㎡
58                                              993724㎡
59    219167㎡ 곰두리체육센터 : 7370㎡(지하2층 지상3층) 송파도서관 : 825...
Name: 면적, dtype: object

In [ ]:
# 총 144m 같은 글에서 '총' 지우기