In [49]:
import numpy as np
import json,folium
import pandas as pd
import folium

In [50]:
df = pd.read_csv('data/경기도 도시공원정보표준데이터.csv', encoding='euc-kr')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17525 entries, 0 to 17524
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   관리번호          17525 non-null  object
 1   공원명           17525 non-null  object
 2   공원구분          17525 non-null  object
 3   소재지도로명주소      3692 non-null   object
 4   소재지지번주소       17335 non-null  object
 5   위도            17513 non-null  float64
 6   경도            17514 non-null  float64
 7   공원면적          17525 non-null  float64
 8   공원보유시설(운동시설)  4821 non-null   object
 9   공원보유시설(유희시설)  6200 non-null   object
 10  공원보유시설(편익시설)  4842 non-null   object
 11  공원보유시설(교양시설)  805 non-null    object
 12  공원보유시설(기타시설)  2577 non-null   object
 13  지정고시일         14451 non-null  object
 14  관리기관명         16033 non-null  object
 15  전화번호          16343 non-null  object
 16  데이터기준일자       17525 non-null  object
 17  제공기관코드        17525 non-null  object
 18  제공기관명         17525 non-null  object
dtypes: float64(3), object(16)
memory usage: 2.5+ MB

In [51]:
df = df[['소재지지번주소','공원면적']]
df.columns =['주소','공원면적']
df.head(10)

                    주소     공원면적
0  서울특별시 용산구 효창동 287-6   1569.9
1                  NaN   1820.0
2                  NaN   1037.0
3                  NaN   4928.0
4                  NaN   3575.0
5                  NaN  71559.0
6                  NaN  22821.0
7                  NaN   6075.0
8                  NaN  23751.0
9                  NaN  20559.0

In [52]:
df.dropna(axis=0,inplace=True)
df.head()

                      주소     공원면적
0    서울특별시 용산구 효창동 287-6   1569.9
23     서울특별시 용산구 이촌동 408   1766.0
24  서울특별시 용산구 한강로1가 30-3   2090.0
25     서울특별시 용산구 신창동 100    257.0
26  서울특별시 용산구 용산동5가 24-2  11879.0

In [53]:
df=df[df.주소.str.contains('경기도')&df.주소.str.contains('구')]
df.tail()

                        주소     공원면적
17021  경기도 용인시 기흥구 신갈동 708   1502.0
17022  경기도 용인시 기흥구 신갈동 683  36854.0
17023  경기도 용인시 기흥구 신갈동 699  23081.0
17024  경기도 용인시 기흥구 중동 1082   1500.0
17025  경기도 용인시 기흥구 중동 1083   1500.0

In [54]:
my_list = []

for name in df.주소:
    if name.find('구 ') >=0:
        my_list.append(''.join(name.split()[1:3]))
    else:
        my_list.append(''.join(name.split()[1]))
df['시군구']=my_list
df

                               주소     공원면적     시군구
418         경기도 용인시 기흥구 신갈동 159-1   2599.0  용인시기흥구
419         경기도 용인시 기흥구 신갈동 165-1   3093.0  용인시기흥구
420    경기도 용인시 기흥구 신갈동 166-1, 732   1535.0  용인시기흥구
421           경기도 용인시 기흥구 구갈동 350  11060.0  용인시기흥구
422           경기도 용인시 기흥구 신갈동 164  26037.0  용인시기흥구
...                           ...      ...     ...
17021         경기도 용인시 기흥구 신갈동 708   1502.0  용인시기흥구
17022         경기도 용인시 기흥구 신갈동 683  36854.0  용인시기흥구
17023         경기도 용인시 기흥구 신갈동 699  23081.0  용인시기흥구
17024         경기도 용인시 기흥구 중동 1082   1500.0  용인시기흥구
17025         경기도 용인시 기흥구 중동 1083   1500.0  용인시기흥구

[1473 rows x 3 columns]

In [56]:
df= df.groupby('시군구')['공원면적'].sum().reset_index()
df.head()

       시군구       공원면적
0   고양시덕양구  3287291.4
1  고양시일산동구  2722980.0
2  고양시일산서구   922486.9
3      구리시   912756.3
4      김포시   198256.0

In [59]:
df.columns=['지역','면적',]
df

         지역         면적
0    고양시덕양구  3287291.4
1   고양시일산동구  2722980.0
2   고양시일산서구   922486.9
3       구리시   912756.3
4       김포시   198256.0
5    성남시분당구  7189216.9
6    성남시수정구  2018770.5
7    성남시중원구  1879880.7
8    수원시권선구  1383874.3
9    수원시영통구  4119807.0
10   수원시장안구   651631.2
11   수원시팔달구   917998.3
12   안산시단원구  2860691.3
13   안산시상록구  3276744.1
14      안성시     2014.0
15   안양시동안구  1149033.0
16   안양시만안구   741237.0
17      양주시     4173.0
18      연천군    20342.0
19   용인시기흥구  2678098.0
20   용인시수지구  1598214.0
21   용인시처인구  3105059.0
22      평택시     2155.0
23      포천시     1500.0
24      화성시    38811.0

In [60]:
df = df.set_index('지역')
df

                면적
지역
고양시덕양구   3287291.4
고양시일산동구  2722980.0
고양시일산서구   922486.9
구리시       912756.3
김포시       198256.0
성남시분당구   7189216.9
성남시수정구   2018770.5
성남시중원구   1879880.7
수원시권선구   1383874.3
수원시영통구   4119807.0
수원시장안구    651631.2
수원시팔달구    917998.3
안산시단원구   2860691.3
안산시상록구   3276744.1
안성시         2014.0
안양시동안구   1149033.0
안양시만안구    741237.0
양주시         4173.0
연천군        20342.0
용인시기흥구   2678098.0
용인시수지구   1598214.0
용인시처인구   3105059.0
평택시         2155.0
포천시         1500.0
화성시        38811.0